
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="jumbotron mt-5">
    <div class="justify-content-center">
        <h3>Product has been created successfully... :)</h3>
    </div>
</div>
