.box {
    width: 240px;
    height: 180px;
    padding: 50px;
    background-color: #5D5D5D;
}

.box {
    text-decoration-line: none;
    font-weight: bold;
}

    .box h2 {
        width: 100%;
        margin-left: 25%;
    }
