
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_AuctionLayout.cshtml";
}
<div class="container mt-5">
    <div class="jumbotron shadow-lg">
        <div class="text-center">
            <h4>Thanks For Providing Your Important Feed Back...!</h4>
            <p><a href="@Url.Action("Index","Auction")" class="btn btn-outline-danger">Go Back To Main...</a></p>
        </div>
    </div>
</div>
