@using UniversalShopingClasses.UserManagement
@{
    User user = (User)Session[WebUtils.Current_User];
}
<div class="col-lg-12 mt-5">
    <table class="table table-hover">
        <thead>
            <tr class="deep-purple text-white text-center">
                <th>BuyerName</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone#</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tr class="text-center">
            <td>@user.Fullname</td>
            <td>@user.FullAddress</td>
            <td>@user.Email</td>
            <td>@user.MobileNo</td>
        </tr>
    </table>
</div>
