@using UniversalShopingApp.Models
@{
    ViewBag.Title = "ByCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top: 7%">
    @Html.Partial("~/Views/Shared/_SummeryModel.cshtml", (List<ProductSummeryModel>)ViewBag.DrinksByCategory)
</div>
<div style="margin-top: 7%">
    @Html.Partial("~/Views/Shared/_SummeryModel.cshtml", (List<ProductSummeryModel>)ViewBag.MobileByCategory)
</div>
<div style="margin-top: 7%">
    @Html.Partial("~/Views/Shared/_SummeryModel.cshtml", (List<ProductSummeryModel>)ViewBag.FabricsByCategory)
</div>
