@using UniversalShopingApp.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ProductSummeryModel> products = ViewBag.products;
    List<ProductSummeryModel> mobiles = ViewBag.Mobiles;
}
<div style="margin-top: 7%">
    @Html.Partial("~/Views/Home/_Slider.cshtml")
</div>
<div id="prodlist">
    @Html.Partial("~/Views/Shared/_SummeryModel.cshtml", products)
</div>
<div id="prodlist1">
    @Html.Partial("~/Views/Shared/_MobileSummery.cshtml", mobiles)
</div>
