@using UniversalShopingApp.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ProductSummeryModel> products = ViewBag.products;
    List<ProductSummeryModel> mobiles = ViewBag.Mobiles;
    List<ProductSummeryModel> fabrics = ViewBag.Fabrics;
}
<div style="margin-top: 7%">
    @Html.Partial("~/Views/Home/_Slider.cshtml")
</div>
<div id="prodlist" class="mt-4">
    @Html.Partial("~/Views/Shared/_SummeryModel.cshtml", products)
</div>
<div id="prodlist1" class="mt-4">
    @Html.Partial("~/Views/Shared/_MobileSummery.cshtml", mobiles)
</div>
<div id="prodlist2" class="mt-4">
    @Html.Partial("~/Views/Shared/_FabricSummery.cshtml", fabrics)
</div>
